[submodule "deps/boost"]
	path = deps/boost
	url = https://github.com/boostorg/boost
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
[submodule "deps/nlohmann-json"]
	path = deps/nlohmann-json
	url = https://github.com/nlohmann/json
